{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}



<div class="max-w-lg container-fluid mx-auto">
    <div class="text-center">{{message}}</div>
 
     <form method="post"  class="mt-5">
        
         {% csrf_token %}
        
          <div class="form-group col-md-6 text-center d-md-block mx-auto">
            <h6 class="">Reset your password</h6>
             {{form|crispy}}
              <button type='submit' class="btn mt-5 col-md-6 mx-auto d-block btn-primary ">
                Reset Password
             </button>
 
             <div class="py-5 border-b border-gray-200">
                <a class="btn" href="{% url 'login' %}">Already have an account?</a>
             </div>
          </div>
          
        
     </form>
     
 </div>

{% endblock content %}